<div class="modal d-block bg-dark bg-opacity-50" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 500px;">
        <div class="modal-content p-4 shadow">
            <button (click)="closeModal.emit(false)">Close</button>
            <h2 class="text-center mb-4">Crear Post</h2>
            <form (submit)="createPost()">
                <label class="form-label">Ubicació</label>
                <input type="text" name="address" [(ngModel)]="address" class="form-control mb-2">

                <label class="form-label">Descripció</label>
                <textarea name="description" rows="3" [(ngModel)]="description" class="form-control mb-2"></textarea>

                <label class="form-label">Imatges</label>
                <input type="file" (change)="uploadImage($event)" class="form-control mb-3">

                <div class="row g-2 mb-3">
                    <div class="col-6"><input type="number" placeholder="Estètica" [(ngModel)]="aesthetics"
                            name="aesthetics" class="form-control"></div>
                    <div class="col-6"><input type="number" placeholder="Massificació" [(ngModel)]="massification"
                            name="massification" class="form-control"></div>
                    <div class="col-6"><input type="number" placeholder="So" [(ngModel)]="noise" name="noise"
                            class="form-control"></div>
                    <div class="col-6"><input type="number" placeholder="Preu" [(ngModel)]="price" name="price"
                            class="form-control"></div>
                </div>

                <button type="submit" class="btn btn-primary w-100">Crear Post</button>
            </form>
        </div>
    </div>
</div>