<div class="player-main-div d-grid gap-3 px-4 mx-auto">
    @if (song() !== null) {        

        <img [src]="song()?.cover ? song()?.cover : 'assets/using-colors2.svg'" height="300px" class="rounded-4 shadow m-auto">
        
        <audio class="w-100 shadow-sm rounded-4" controls [src]="song()?.mp3Url" aria-label="Audio player"></audio>
        
        <div class="d-flex justify-content-between align-items-center mt-2">
            <div>
                <h4 class="mb-0">{{ song()?.title }}</h4>
                <p class="text-muted mb-0">{{ song()?.artist }}</p>
            </div>
            
            <button class="btn p-0" (click)="changeFavoriteImage()" aria-label="Toggle favorite status">
                @if (!song()?.favorite) {
                    <img src="assets/like-icon-like.svg" class="like-icon-like" height="25px" alt="Like">
                } @else {
                    <img src="assets/like-icon-liked.svg" height="25px" alt="Liked">
                }
            </button>
        </div>

        <p class="text-secondary mt-3">{{ song()?.description }}</p>
    } @else {
        <div class="text-center p-5 h-100">
            <h1 class="display-6 text-center mb-4 fw-bold">SpotiDAW Premium</h1>
            <img src="assets/logo.svg" class="img-fluid rounded-4 mt-3">
        </div>
    }
</div>
