<div class="container mt-5">
    <!-- Secció Principal (Hero) -->
    <main>
        <div class="p-5 mb-5 bg-light rounded shadow-sm text-center border">
            <h2 class="display-4 fw-bold mb-3">Benvingut a Dawscovery</h2>
            <p class="lead text-muted mb-4 mx-5">
                Descobreix noves idees, comparteix els teus projectes i forma part d'una comunitat on aprendre i
                connectar és més fàcil que mai.
            </p>
            <button class="btn btn-primary btn-lg px-5 py-2" routerLink="/register">Comença a explorar</button>
            <button class="btn btn-outline-dark btn-lg px-5 py-2 ms-3" routerLink="/login">Inicia sessió</button>
        </div>

        <div class="row mt-5">

            <div class="col-4">
                <div class="card h-100 border-0 shadow-sm bg-light">
                    <div class="card-body p-4 text-center">
                        <h3 class="h4 card-title fw-bold mb-3 text-primary">Connecta</h3>
                        <p class="card-text text-secondary fs-5">
                            Troba persones amb les mateixes aficions i amplia la teva xarxa de contactes professionals i
                            personals.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card h-100 border-0 shadow-sm bg-light">
                    <div class="card-body p-4 text-center">
                        <h3 class="h4 card-title fw-bold mb-3 text-primary">Comparteix</h3>
                        <p class="card-text text-secondary fs-5">
                            Publica el teu progrés, els teus dubtes o les teves creacions per rebre <i>feedback</i> de
                            la resta d'usuaris.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card h-100 border-0 shadow-sm bg-light">
                    <div class="card-body p-4 text-center">
                        <h3 class="h4 card-title fw-bold mb-3 text-primary">Descobreix</h3>
                        <p class="card-text text-secondary fs-5">
                            Explora tot el contingut creat per la comunitat de Dawscovery i inspira't per als teus
                            propers projectes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="d-flex justify-content-center align-items-center mt-5 pt-4 pb-4 border-top text-muted">
        <p class="mb-0 fs-6">&copy; 2026 Dawscovery. Tots els drets reservats.</p>
    </footer>
</div>