@if (songUrl() !== "") {
    <img [src]="songImage()" height="100px" alt="" srcset="">
    @if (songUrl()) {
        <img src="assets/x.svg" height="25px" alt="" srcset="">
        <audio controls [src]="songUrl()">
            <!-- <source > -->
        </audio>
    }
    <h4>{{ songTitle() }}</h4>
    <p>{{ artistName() }}</p>
    <p>{{ description() }}</p>
} @else {
    <h1>SpotiDAW premium</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/YouTube_Premium_logo.svg/1280px-YouTube_Premium_logo.svg.png" width="400px" alt="">
}