<div class="sticky-top mt-5">
    <nav class="navbar navbar-expand-lg w-50 mx-auto justify-content-between mx-2 mb-5 mt-5 shadow-sm">
        <h1 class="navbar-band w-25 px-5"><a [routerLink]="'/'" class="fw-bold">PlanDAW</a></h1>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto justify-content-between w-75 mx-5">
                <li class="nav-item"><a [routerLink]="'/home'">Home</a></li>
                <li class="nav-item"><a [routerLink]="'/ideas'">Ideas</a></li>
                <li class="nav-item"><a [routerLink]="'/weekend'">Weekend</a></li>
                <li class="nav-item"><a [routerLink]="'/friends'">Friends</a></li>
            </ul>
        </div>
    </nav>

</div>