.app-title {
    text-align: center;
    margin-bottom: 5em;
}

button {
    padding: 10px 18px;
    background-color: #000;
    color: #fff;
    font-weight: bolder;
    border-radius: 10px;
    margin-right: 1em;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #353535;   
}

.order-text {
    font-weight: bold;
}

.list-button-div {
    display: flex;   
}

.list-button:active {
    margin: auto auto;
    background-color: white;
    color: black;
    box-shadow: 0px 10px 30px rgb(203, 203, 203);
}

.assistanceData {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}